@using Factory.Models;
@model List<Factory.Models.Machine>

<h2>Machines</h2>
<ul>
  @foreach (Machine machine in Model)
  {
    <li>@Html.ActionLink($"{machine.Name}", "Details", new { id = machine.MachineId })</li>
  }
  </ul>

  <p>@Html.ActionLink("Add new machine", "Create")</p>

<p>@Html.ActionLink("Return to Engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>