<h1>Welcome to the Silly Stringz Factory Operations List!</h1>
<h1>Fanbase!</h1>
<p>@Html.ActionLink("See all machines", "Index", "Machines")</p> 
<p>@Html.ActionLink("See all engineers", "Index", "Engineers")</p>
